#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&mt { flavor = "balanced"; };

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        SFT1_to_F1: SFT1_to_F1 {
            compatible = "zmk,behavior-mod-morph";
            label = "Morph SFT+1 to F1";
            bindings = <&kp NUMBER_1>, <&kp F1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        SFT2_to_F2: SFT2_to_F2 {
            compatible = "zmk,behavior-mod-morph";
            label = "Morph SFT+2 to F2";
            bindings = <&kp NUMBER_2>, <&kp F2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        SFT3_to_F3: SFT3_to_F3 {
            compatible = "zmk,behavior-mod-morph";
            label = "Morph SFT+3to F3";
            bindings = <&kp NUMBER_3>, <&kp F3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        SFT4_to_F4: SFT4_to_F4 {
            compatible = "zmk,behavior-mod-morph";
            label = "Morph SFT+4 to F4";
            bindings = <&kp NUMBER_4>, <&kp F4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        SFT5_to_F5: SFT5_to_F5 {
            compatible = "zmk,behavior-mod-morph";
            label = "Morph SFT+5 to F5";
            bindings = <&kp N5>, <&kp F5>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        semicolon_colon_switch: semicolon_colon_switch {
            compatible = "zmk,behavior-mod-morph";
            label = "Switch ;/: behaviour";
            bindings = <&kp COLON>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        combo_RSFT {
            bindings = <&none>;
            key-positions = <40 41>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB                &kp Q  &kp W  &kp E     &kp R  &kp T                                       &kp UP                &kp Y      &kp U  &kp I      &kp O    &kp P                    &kp BSPC
&mt LEFT_SHIFT ESCAPE  &kp A  &kp S  &kp D     &kp F  &kp G                             &kp LEFT  &kp ENTER  &kp RIGHT  &kp H      &kp J  &kp K      &kp L    &semicolon_colon_switch  &kp ENTER
&kp LCTRL              &kp Z  &kp X  &kp C     &kp V  &kp B               &kp K_MUTE              &kp DOWN              &kp N      &kp M  &kp COMMA  &kp DOT  &kp GRAVE                &kp SQT
                                     &kp LGUI  &mo 1  &mt LEFT_ALT SPACE                                                &kp SPACE  &mo 2  &kp RALT
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        lower_layer {
            display-name = "L1";
            bindings = <
&trans          &SFT1_to_F1    &SFT2_to_F2  &SFT3_to_F3  &SFT4_to_F4  &SFT5_to_F5                                &mmv MOVE_UP                     &trans  &trans  &trans  &trans  &trans  &kp DELETE
&kp LEFT_SHIFT  &kp ENTER      &kp HOME     &kp UP       &kp END      &kp SLASH                  &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &trans  &trans  &trans  &trans  &trans  &kp PG_UP
&trans          &kp BACKSPACE  &kp LEFT     &kp DOWN     &kp RIGHT    &kp DELETE   &kp C_MUTE                    &mmv MOVE_DOWN                   &trans  &trans  &trans  &trans  &trans  &kp PG_DN
                                            &trans       &trans       &trans                                                                      &trans  &trans  &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        raise_layer {
            display-name = "L2";
            bindings = <
&trans  &kp EXCL           &kp AT          &kp HASH           &kp DLLR               &kp PRCNT                                  &mmv MOVE_UP                     &kp PLUS   &kp N7        &kp N8        &kp N9        &kp ASTERISK  &kp BSPC
&trans  &kp DOUBLE_QUOTES  &kp UNDERSCORE  &kp LEFT_BRACKET   &kp LEFT_PARENTHESIS   &kp LEFT_BRACE             &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp EQUAL  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp BSLH      &kp GRAVE
&trans  &kp SINGLE_QUOTE   &kp MINUS       &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &trans                    &mmv MOVE_DOWN                   &kp N0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp AMPS      &kp LCTRL
                                           &trans             &trans                 &trans                                                                      &trans     &trans        &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            display-name = "L3";
            bindings = <
&studio_unlock  &kp F1          &kp F2      &kp F3       &kp F4      &kp F5                                  &mmv MOVE_UP                     &kp F6       &kp F7     &kp F8       &kp F9      &kp F10          &kp F11
&trans          &bt BT_CLR_ALL  &bt BT_CLR  &bt BT_NXT   &bt BT_PRV  &mkp MB4                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &bootloader  &mkp LCLK  &mkp MCLK    &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans          &sys_reset      &trans      &bootloader  &trans      &mkp MB5  &kp K_MUTE                    &mmv MOVE_DOWN                   &trans       &trans     &bootloader  &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                            &trans       &trans      &trans                                                                   &trans       &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp K_VOL_UP K_VOLUME_DOWN>;
        };

        layer_5 {
            display-name = "L5 temp";
            bindings = <
&trans  &kp N1           &kp N2          &kp N3        &kp N4        &kp N5                                         &mmv MOVE_UP                     &kp N6           &kp N7           &kp N8           &kp N9           &kp N0    &kp BSPC
&trans  &bt BT_CLR_ALL   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp HOME  &kp PG_UP
&trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &trans        &trans        &rgb_ug RGB_EFF  &kp C_MUTE                    &mmv MOVE_DOWN                   &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp END   &kp PG_DN
                                         &trans        &trans        &trans                                                                          &kp INS          &kp DEL          &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        L3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
